body{
    background-color: #35BDD0;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
}

p {
    text-align: center;
    margin-top: -20px;
    font-size: 18px;
    letter-spacing: 3px;
}

